<div id='modal' class='modal fade' tabindex='-1'>
    <div class='modal-dialog modal-lg modal-fullscreen-md-down'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'></h5>
                <button data-bs-dismiss='modal' class='btn-close'></button>
            </div>
            <div class='modal-body'></div>
            <div class='modal-footer'>
                <button data-bs-dismiss='modal' class='btn btn-secondary'>Cancel</button>
                <button class='modal-confirmation btn btn-warning'>Confirm</button>
            </div>
        </div>
    </div>
</div>