@model Remedium.Web.Data.Entities.Article

@{
    Layout = null;
}

<form class='modal-form' autocomplete='off'>
    <input asp-for='Id' type='hidden'>
    <label class='form-label'>You are about to delete aricle #@Model.Id</label>
</form>