@model IEnumerable<Remedium.Web.Data.Entities.Article>

@{
    ViewBag.Title = "Home Page";
}

<div id='viewAll'>
    <partial name='_ViewAll'/>
</div>

<partial name='_Modal'></partial>

@section Scripts
{
    <script src='~/js/modal.js'></script>
}
