@{
    ViewBag.Title = "Not Implemented";
}


<h1 class='text-center my-3'>Not yet implemented :)</h1><hr>
<a asp-controller='Home' class='btn btn-lg btn-warning d-block w-25 mx-auto'>
    <i class='bi bi-arrow-counterclockwise'></i>
    <span>Home page</span>
</a>