@model IEnumerable<Remedium.Web.Data.Entities.BlogPost>

@{
    ViewData["Title"] = "Blog";
}

@* <div class='accordion mt-5 border rounded' id='example'> *@
@*     <div class='accordion-item border-0'> *@
@*         <h2 class='accordion-header headingOne'> *@
@*             <button class='accordion-button' data-bs-toggle='collapse' data-bs-target='#one'> *@
@*                 Item #1 *@
@*             </button> *@
@*         </h2> *@
@*         <div id='one' class='accordion-collapse collapse show border-0' data-bs-parent='example'> *@
@*             <div class='accordion-body'> *@
@*                 <strong>Placeholder</strong> placeholder placeholder *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@*     <div class='accordion-item border-0'> *@
@*         <h2 class='accordion-header headingtwo border-0'> *@
@*             <button class='accordion-button' data-bs-toggle='collapse' data-bs-target='#two'> *@
@*                 Item #1 *@
@*             </button> *@
@*         </h2> *@
@*         <div id='two' class='accordion-collapse collapse border-0' data-bs-parent='example'> *@
@*             <div class='accordion-body'> *@
@*                 <strong>Placeholder</strong> placeholder placeholder *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@