@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Remedium.Web.Data.Entities
@inject IAuthorizationService AuthorizationService
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var controller = ViewContext.RouteData.Values["Controller"]!.ToString();
}

<header class='navbar navbar-expand-md navbar-dark bg-dark r-navbar'>
    <nav class='container-xxl flex-wrap flex-md-nowrap'>
        <a @* asp-controller='Home' *@ class='navbar-brand p-0 pb-1 me-2'>
            <i class='bi bi-cup-straw'></i>
            <span>Remedium</span>
        </a>
        <button data-bs-toggle='collapse' data-bs-target='#rNavbar' class='navbar-toggler collapsed'>
            <span class='navbar-toggler-icon'></span>
        </button>
        <div id='rNavbar' class='navbar-collapse collapse'>
            <hr class='d-md-none text-light'>
            <div class='navbar-nav flex-row flex-wrap flex-md-nowrap pt-2 py-md-0'>
                <div class='nav-item col-6 col-md-auto'>
                    <a @* asp-controller='Forum' *@
                       class='nav-link p-2 @(controller == "Forum" ? "active" : String.Empty)'>Forum</a>
                </div>
                <div class='nav-item col-6 col-md-auto '>
                    <a @* asp-controller='Browse' *@ class='nav-link p-2 @(controller == "Browse" ? "active" : String.Empty)'>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministrator")).Succeeded)
                    {
                        <span class='text-danger'>Control</span>
                    }
                    else
                    {
                        <span>Browse</span>
                    }
                    </a>
                </div>
            </div>
            <hr class='d-md-none text-light'>
        @if (SignInManager.IsSignedIn(User))
        {
            <div class='navbar-nav flex-row flex-wrap flex-md-nowrap ms-md-auto'>
                <div class='nav-item col-12 col-md-auto'>
                    <span class='nav-link p-2 text-secondary user-select-none r-navbar-greeting'>
                        Hello, @User.Identity?.Name!
                    </span>
                </div>
                <div class='nav-item col-6 col-md-auto'>
                    <a @* asp-controller='Inventory' *@ 
                       class='nav-link p-2 @(controller == "Inventory" ? "active" : String.Empty)'>My Inventory</a>
                </div>
                <div class='nav-item col-6 col-md-auto'>
                    <a id='rNavbarSignOutLink' class='nav-link p-2 btn'>Sign Out</a>
                </div>
            </div>
        }
        else
        {
            <div id='rNavbarSignInPanel' class='navbar-nav flex-row justify-content-center ms-md-auto'>
                <form name='rNavbarSignInForm' class='nav-item'>
                    <div class='input-group'>
                        <input name='Email' type='email' required placeholder='email' class='form-control'>
                        <input name='Password' type='password' minlength='6' required
                               placeholder='&#9679;&#9679;&#9679;&#9679;&#9679;' class='form-control' >
                        <input type='submit' value='Sign In' class='btn btn-warning rounded-end'>
                        <a asp-controller='Account' asp-action='SignUp' 
                           class='btn btn-outline-light ms-2 rounded-start'>Sign Up</a>
                    </div>
                </form>
            </div>
        }
        </div>
    </nav>
</header>

@if (SignInManager.IsSignedIn(User))
{
    <script src='~/scripts/sign-out.js'></script>
}
else
{
    <script src='~/scripts/sign-in.js'></script>
}